/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

#seccion-contacto, footer {
	background-color: #1B2A4E;
	color: #F3F3F3;
}

#seccion-contacto {
	min-height: 700px;
}

footer {
	min-height: 100px;
}

footer p {
	text-align: center;
}

#iconos i {
	color: #F3F3F3;
	padding: 0 8px;
	font-size: 26px;
}

/* == MEDIA QUERIES PANTALLA ANCHA == */
@media (max-width: 1280px) {
	
}
/* == MEDIA QUERIES PANTALLA MEDIANA == */
@media (max-width: 768px) {
	
}	
/* == MEDIA QUERIES PANTALLA MEDIANA == */
@media (max-width: 576px) {
	
}